body{
    background-color: rgb(20, 20, 20);
    /*font-size: 100%;*/
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/  
/*Navbar*/

header{
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    border-top: 2px solid #33ccff; 
    background: rgba(30,30,30,.95);
    position: fixed;
    z-index: 15;
    /*box-shadow: 0 10px 20px rgba(0, 56, 109, 0.95);*/
}

nav {
    margin-left: 2.5em;
}

nav a {
    display: block;
    float: left;
    padding: 14px 16px;
    font: 1.3em/1em sans-serif;   
    text-align: center;
    text-decoration: none;
    color: white; 
}

nav a:hover{
    color: lightblue;
}

nav a.active{
    border-bottom: 2px solid skyblue;
}

.navbar .icono {
    display: none;
}

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). 
 Show the link that contains should open and close the topnav (.icon) */
 @media screen and (max-width: 600px) {
    .navbar a:not(.active) {display: none;}
    .navbar a.icono {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. 
  This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icono {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  } 

/*//////////////////////////////////////////////////////////////////////////////////////////////*/  

/*Second navbar*/

.sidenav{
    display: inline-block;
    position: relative;
    padding-top: 4em;
    margin-left: 3em;
    width: 100%;
    clear: none;
}

/* Dropdown Button */
    .dropbtn {
        background-color: rgb(30, 172, 228);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: black;
        padding: 0.7em;
        margin-right: 0.5em;
        margin-bottom: 0.3em;
        font-size: 16px;
        border: none;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
        z-index: 9;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 6.8em;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 9;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        z-index: 9;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: rgb(43, 128, 255);}

/*Filtrar por busqueda de texto*/
.filtroTexto{
    position: relative;
    display: inline-block;
    z-index: 3;
}

#filtroTexto {
    background-color: rgb(30, 172, 228);
    color: black;
    padding: 0.7em;
    margin-right: 0.5em;
    margin-bottom: 0.3em;
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
}

/*Boton para ordenar alfabeticamente*/
.botonOrdenar{
    position: relative;
    display: inline-block;
    z-index: 3;
}

#botonOrdenar{
    background-color: rgb(30, 172, 228);
    color: black;
    padding: 0.7em;
    margin-right: 0.5em;
    margin-bottom: 0.3em;
    font-size: 1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
}

#botonOrdenar:hover{
    background-color: aqua;
    font-weight: 500;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/  

/*Parallax*/

.parallax {
    /* The image used */
    background-image: url("/img/parallax.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/  

/*Lista juegos*/

ul.catalogo li {
    width: 14em;
    height: 24em;
    margin-top: 2em;
    display: inline-block; /* efecto catalogo */
    text-align: center; /* imagen centrada */
    vertical-align: middle;
    background-color:#282828 ;
    font-family: "Trebuchet MS", Helvetica, sans-serif; 
    font-size: 1em;
    border-radius: 10px; /* bordes redondeados */
    border: 3px solid rgb(0, 10, 14);
    /*border: 2px solid #585858;*/
    margin-left: 2px;
}

ul.catalogo li a{
    text-decoration: none;
    text-decoration-style: none;
    text-decoration-line: none;
    color: white;
}

ul li a:visited{
    text-decoration: none;
    text-decoration-line: none;
    color: white;
}

.catalogo img{
    width: 13em;
    height: 20em;
    margin-top: 10px;
    z-index: 1;
}

.portada {
    position: relative;
    transition: 0.3s ease;
    cursor: pointer;
}

.portada:hover {
    transform: scale(1.2, 1.2); 
    opacity: 1;
}

@media screen and (max-width: 600px){

    ul.catalogo{
        padding-left: 0.5em;
    }

    ul.catalogo li{
        width: 46%;
        height: 21.5em;
        margin-top: 0em;
        margin-left: 0em;
        margin-bottom: 0.3em;
    }

    .catalogo img{
        width: 95%;
        max-width: 200px;
        height: auto;
        min-height: 240px;
        margin-top: 10px;
        z-index: 1;
        overflow: auto;
    }

    .sidenav{
        display: inline-block;
        padding-top: 3em;
        margin-left: 1em;
    }

    nav {
        margin-left: 0.5em;
    }

}

@media screen and (max-width: 300px){

    ul.catalogo{
        padding-left: 0.2em;
    }

    ul.catalogo li{
        width: 47%;
        height: 20em;
        margin-top: 0em;
        margin-left: 0em;
        margin-bottom: 0.3em;
    }

    .catalogo img{
        width: 95%;
        max-width: 200px;
        height: auto;
        min-height: 240px;
        margin-top: 10px;
        z-index: 1;
        overflow: auto;
    }

}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/  

/*Registro/Comentarios*/

.encabezado h1{
    margin-left: 1.75em;
    padding-top: 1.5em;
}

/*Registro*/

.registro input, textarea{
    border-radius: 5px;
    border-color: black;
    border-inline-start-color: black;
    border-inline-end-color: black;
    border-style: solid;
}

.registro input{
    width: 26em;
    height: 2em;
}

.registro form{
    padding-top: 2em;
    margin-left: 2em;
}

.registro input[type=submit]{
    width: 6em;
    height: 3em;
}

.registro input[type=reset]{
    width: 6em;
    height: 3em; 
}

input:focus, textarea:focus{
    border-color: rgb(238, 194, 144);
    border-radius: 5px;
}

/*Comentarios*/

.comentarios input, textarea{
    border-radius: 5px;
    border-color: black;
    border-inline-start-color: black;
    border-inline-end-color: black;
    border-style: solid;
}

.comentarios form{
    padding-top: 2em;
    margin-left: 2em;
}

.comentarios input{
    width: 26em;
    height: 2em;
}

.comentarios input[type=submit]{
    width: 6em;
    height: 3em;
}

.comentarios input[type=reset]{
    width: 6em;
    height: 3em;
}

/*
.comentarios label{
    display:inline-block;
    padding-top: 80px;
    font-size: 2em;
}
*/

.comentarios textarea{
    padding-top: 4px;
    width: 430px;
    height: 300px;
}

/*Imagenes*/
.slideshow img{
    height: 150px;

}

img{
    height: 300px;
}



/*//////////////////////////////////////////////////////////////////////////////////////////////*/  

/* Slideshow */

.slider-holder{
    width: 800px;
    height: 400px;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}
    
.image-holder{
    width: 2400px;
    background-color: red;
    height: 400px;
    clear: both;
    position: relative;
    
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}
    
.slider-image{
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}
    
#slider-image-1:target ~ .image-holder{
        left: 0px;
}
    
#slider-image-2:target ~ .image-holder{
        left: -800px;
}
    
#slider-image-3:target ~ .image-holder{
    left: -1600px;
}

.button-holder{
    position: relative;
    top: -20px;
}

.slider-change{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 10px;
    background-color: brown;
}


/*Vista detallada juego*/




/*------------------------------------------------------------------------------------------------------------*/