
body{
    background-color: rgb(20, 20, 20);
    font-size: 100%;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

header {
    width: 100%;
    max-width: 100%;
    margin-top: 0%;
    border-top: 2px solid #33ccff; 
    background: rgba(30,30,30,.95);
    position: fixed;
    z-index: 2;
    /*box-shadow: 0 10px 20px rgba(0, 56, 109, 0.95);*/
}

nav {
    margin-left: 30px;
}

nav a {
    font: 1.2em/1em sans-serif;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white; 
}

nav a:hover{
    color: rgb(255, 255, 255);
}

nav a.active{
    border-bottom: 2px solid skyblue;
}

.navbar a{
    color: lightblue;
}

ul.catalogo li {
    width: 220px;
    height: 380px;
    margin-top: 50px;
    display: inline-block; /* efecto catalogo */
    text-align: center; /* imagen centrada */
    background-color:#282828 ;
    font-family: "Trebuchet MS", Helvetica, sans-serif; 
    border-radius: 10px; /* bordes redondeados */
    border: 2px solid #585858;
    margin-left: 2px;
}

.catalogo img{
    width: 200px;
    height: 300px;
    margin-top: 10px;
    z-index: 1;
}

.portada {
    position: relative;
    transition: 0.3s ease;
    cursor: pointer;
}

.portada:hover {
    transform: scale(1.2, 1.2); 
    opacity: 1;
}

.registro form{
    padding-top: 50px;
    margin-left: 50px;
}

.registro input{
    width: 430px;
    height: 25px;
}

input[type=submit]{
    width: 100px;
    height: 40px;
}

input[type=reset]{
    width: 100px;
    height: 40px;
}

.encabezado h1{
    margin-left: 50px;
    margin-top: 50px;
}

.comentarios form{
    padding-top: 0px;
    margin-left: 50px;
}

.comentarios label{
    display:inline-block;
    margin-top: 80px;
    font-size: 2em;
}

.comentarios textarea{
    margin-top: 50px;
    width: 400px;
    height: 300px;
}

.slideshow img{
    width: 300px;
}

/*------------------------------------------------------------------------------------------------------------*/