*{margin: 0;padding: 0;border: 0;}

body{
    /*
    background-color: rgb(20, 20, 20);
    background: linear-gradient(to bottom right, black, rgb(0, 14, 26), black);
    background: linear-gradient(to bottom, black, rgb(0, 35, 59));
    background-color: #1d1d21;
    */
    background-image: radial-gradient(black, rgb(0, 35, 59));
    margin: 0 auto;
    height: 100%;
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    
    
    font-family: 'Exo 2', sans-serif;


    color: white;
}

nav ul{
    overflow: hidden;
    list-style-type: none;
}

ul li a:visited{
    text-decoration: none;
    text-decoration-line: none;
    color: white;
}

.contenedor{
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/  
/*Navbar*/

header{
    width: 100%;
    position: fixed;
    top: 0;
    border-top: 2px solid #33ccff; 
    background: rgba(0, 8, 20, 0.900);
    z-index: 15;
    /*box-shadow: 0 10px 20px rgba(0, 56, 109, 0.95);*/
}

nav{
    /*margin-left: 2.5em;
    margin-right: 1em;*/
}

nav a{
    display: block;
    float: left;
    padding: 14px 16px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white; 
}

nav a:hover{color: lightblue;}

nav a.active{border-bottom: 2px solid skyblue;}

.navbar .icono {display: none;}

#icon{
    width: 1.5em;
    height: 1em;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/  

/*Barra de opciones*/

.sidenav{
    width: 100%;
    float: left;
    padding-top: 2em;
    /*clear: none;*/
    box-sizing: border-box; 
    margin-bottom: 40px;
}

/*display: inline-block???*/
.topSidenav{display: inline-block;}
.bottomSidenav{display: inline-block;}

/* Dropdown*/
.dropbtn {
    background-color: rgb(0, 14, 27);
    border: 2px solid #116888;
    color: rgb(179, 212, 255);
    padding: 0.7em;
    margin-right: 0.5em;
    margin-bottom: 0.3em;
    font-size: 16px;
}

.dropdown {
    float: left;
    z-index: 9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 6.8em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 9;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
    background-color: #199ece;
    color: white;
}

/*Filtrar por busqueda de texto*/
.filtroTexto{
    float: left;
    z-index: 3;
}

#filtroTexto {
    background-color: rgb(0, 14, 27);
    border: 2px solid #116888;
    color: rgb(179, 212, 255);
    padding: 0.7em;
    margin-right: 0.5em;
    margin-bottom: 0.3em;
    font-size: 1em;
}

/*Boton para ordenar alfabeticamente*/
.botonOrdenar{
    float: left;
    z-index: 3;
}

#botonOrdenar{
    background-color: rgb(0, 14, 27);
    border: 2px solid #116888;
    color: rgb(179, 212, 255);
    padding: 0.7em;
    margin-right: 0.5em;
    margin-bottom: 0.3em;
    font-size: 1em;
}

#botonOrdenar:hover{
    background-color: #199ece;
    color: white;
    font-weight: 500;
}   

#toggleVista{
    float: right;
    z-index: 3;
    margin-right: 10em;
}

#toggleVista span{
    color: rgb(179, 212, 255);
    font-size: 16px;
}

#toggleVista button{
    width: 30px;
    background-color: rgb(0, 14, 27);
    border: 2px solid #116888;
    color: rgb(179, 212, 255);
    padding: 0.7em;
    margin-bottom: 0.3em;
    font-size: 16px;
}

#toggleVista button:hover{
    background-color: #199ece;
    color: white;
    cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/  

/*Lista juegos*/

main {
    /*text-align: center;*/
}

main ul li.juegoLI {
    /*14 40em*/
    width: 14em;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
    /*vertical-align: middle;*/
    background-color: rgb(0, 14, 27);
    font-size: 1em;
    border-radius: 10px;
    border: 3px solid #116888;
}

main ul li.juegoLI a{
    text-decoration: none;
    color: white;
}

main ul li.juegoLI article.juego{

}
/*
main ul li.juegoLI article.juego figure.imagenLI figcaption.figcaptionJuego{
    float: right;
}

main ul li.juegoLI article.juego p{
    float: right;
}
*/

.juegoLI img{
    width: 13em;
    height: 20em;
    margin-top: 0.5em;
}

.juegoLI {
    position: relative;
    transition: 0.3s ease;
}

.juegoLI:hover {
    transform: scale(1.2, 1.2); 
    opacity: 1;
    z-index: 20;
}

.figcaptionJuego{
    font-size: 22px;
}

.pJuego{
    margin-top: 10px;
    font-size: 18px;
    padding: 5px;
    font-family: 'Share Tech', sans-serif;
}

/*Lista juegos detallados*/



/**/

/*//////////////////////////////////////////////////////////////////////////////////////////////*/  

/*Registro/Comentarios*/

textarea{
    resize: none;
}

.encabezado h1{
    margin-left: 2em;
    padding-top: 2.5em;
}

/*Registro*/

.registro{
    margin-left: 2em;
}

.registro input, textarea{
    border-radius: 5px;
    border-color: #6c6b68;
    /*border-inline-start-color: black;
    border-inline-end-color: black;*/
    border-style: solid;
    color: #c3b49e;
    background-color: #000f19;
}

.registro input{
    width: 20em;
    height: 2em;
}

.registro form{
    padding-top: 2em;
    margin-left: 2em;
}

.registro input[type=submit]{
    width: 7em;
    height: 3em;
    border: 3px solid rgb(0, 77, 0);
}

.registro input[type=reset]{
    width: 7em;
    height: 3em; 
    border: 3px solid rgb(65, 0, 0);
}

 /*Comentarios*/

 .comentarios{
     margin-left: 2em;
 }

.comentarios input, textarea{
    border-radius: 5px;
    border-color: #6c6b68;
    /*border-inline-start-color: black;
    border-inline-end-color: black;*/
    border-style: solid;
    color: #c3b49e;
    background-color: #000f19;
}

.comentarios form{
    padding-top: 2em;
    margin-left: 2em;
}

.comentarios input{
    width: 22em;
    height: 2em;
}

.comentarios input[type=submit]{
    width: 6em;
    height: 3em;
    border: 3px solid rgb(0, 77, 0);
}

.comentarios input[type=reset]{
    width: 6em;
    height: 3em;
    border: 3px solid rgb(65, 0, 0);
}

/*
.comentarios label{
    display:inline-block;
    padding-top: 0px;
    font-size: 1em;
}
*/

.comentarios textarea{
    padding-top: 4px;
    width: 22em;
    height: 16em;
}

#main-compra{
    min-height: 40em;
}

#main-compra h3{
    margin-left: 1.7em;
}

#form-compra{
    padding-top: 2em;
    margin-left: 2em;
}

#form-compra input{
    width: 20em;
    height: 2em;
    border-radius: 5px;
    border-color: #6c6b68;
    /*border-inline-start-color: black;
    border-inline-end-color: black;*/
    border-style: solid;
    color: #c3b49e;
    background-color: #000f19;
}

#form-compra input[type=submit]{
    width: 6em;
    height: 3em;
    border: 3px solid rgb(0, 77, 0);
}

#form-compra input[type=reset]{
    width: 6em;
    height: 3em;
    border: 3px solid rgb(65, 0, 0);
}

#form-compra input[type=radio]{
    width: 1em;
    margin-bottom: 1em;
}

#form-compra input[type="number"]{
    background-color: #000f19;
    width: 5em;
    
}

#form-compra select{
    background-color: #000f19;
    color: white;
    
}

#form-compra select:after{
    border-color: aquamarine;
}

#metodoEnvio{
    margin-bottom: 1.5em;
}

#subtotal{
    margin-bottom: 1em;
}

/*Imagenes*/
.slideshow img{
    height: 150px;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/  
/* Slideshow */

.content-all *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-all{
    width: 800px;
    height: 500px;
    position: relative;
    display: flex;
    margin: auto;
    overflow: hidden;
    perspective: 800px;
    box-shadow: 0 20px 40px 0 black;
}

.content-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    transform: translateX(-100%) rotateX(0deg);
    transition: all 1s;
}

#img1{
    transform: translateY(0);
    opacity: 1;
}

.content-img:target{
    transform: translateX(0) rotateX(0deg);
    
}
.content-img img{
    width: 100%;
    height: 100%;
}

.icon-left-open{
    position: absolute;
    top: 250px;
    left: 0;
    font-size: 40px;
    text-decoration: none;
    color: white;
}

.icon-right-open{
    position: absolute;
    top: 250px;
    right: 0;
    font-size: 40px;
    text-decoration: none;
    color: white;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/  
/*Vista detallada juego*/

/*Slider*/

@keyframes slideShow {
    0%{left: 0;}
    20%{left: 0%;}
    25%{left: -100%;}
    45%{left: -100%;}
    50%{left: -200%;}
    70%{left: -200%;}
    75%{left: -300%;}
    95%{left: -300%;}
    100%{left: -400%;}
}

#slider{
    overflow: hidden;
    margin-top: 2.15em;
}

#slider figure img{
    width: 20%;
    height: 320px;
    float: left;
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slideShow infinite;
}

/*Articulo juego*/

.contenedorJuego{
    padding: 1em;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    font-family: 'Muli', sans-serif;
    align-content: center;
    margin: 0 auto;
}

.tituloJuego{
    float: left;
    width: 100%;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-left: 1em;
}

.video{
    display: flex;
    float: left;
    padding: 1em;
    max-width: 560px;
    overflow: hidden;
    clear: none;
    border: 2px solid #116888;
    border-radius: 10px;
    margin-right: 0.5em;
}

iframe{
    width: 560px;
    height: 315px;
}

.informacion{
    display: flex;
    float: left;
    padding: 0.5em;
    min-width: 400px;
    max-width: 550px;
    min-height: 300px;
    border: 2px solid #116888;
    border-radius: 10px;
}

.imagenJuegoPortada{
    float: left;
    max-width: 320px;
    border: 2px solid #116888;
    border-radius: 10px;
}

.imagenJuegoPortada img{
    float: left;
    max-width: 220px;
    border-radius: 10px;
}

.caracteristicas{
    margin-left: 0.5em;
    padding-left: 0.5em;
    float: right;
    border: 2px solid #116888;
    border-radius: 10px;
}

.descripcion{
    float: left;
    padding: 1em;
    max-width: 100%;
    border: 2px solid #116888;
    border-radius: 10px;
    margin-top: 0.5em;
}

.caracteristicas dl dt{
    display: inline-block;
    margin: 0.5em;
    color: #c7f1ff;
    font-weight: 600;
}

.caracteristicas dl dd{
    display: inline-block;
}

.requerimientos{
    float: left;
    padding: 1em;
    border: 2px solid #116888;
    border-radius: 10px;
    margin-top: 0.5em;
}

.requerimientos h4{
    margin: 0.4em;
    color: rgb(16, 96, 150);
    
}

.requerimientos dt{
    color: #8fe1ff;
    font-weight: 600;
    padding: 0.2em;
}

.requerimientos dd{
    
}

.reviews{
    float: left;
    padding: 1em;
    border: 2px solid #116888;
    border-radius: 10px;
    margin-top: 0.5em;
}

.reviews blockquote{
    margin-bottom: 1em;
    text-indent: 5px;
}

.content-all{
    
}
.content-img{
    padding-top: 0.5em;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/  
/*Pagina compra*/

#main-compra{
    margin-left: 50px;
    margin-top: 100px;
    text-align: left;
    list-style-type: none;
}

#main-compra form li{
    margin-bottom: 5px;
}

#divDireccionMetodo{
    display: none;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/  
/*Navbar responsive*/

@media screen and (max-width: 600px) {
    .navbar a:not(.active) {display: none;}
    .navbar a.icono {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icono {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/*//////////////////////////////////////////////////////////////////////////////////////////////*/  
/*Responsive para celulares de alta y baja resolucion*/

@media screen and 
(max-width: 600px) and
(min-width: 350px) {

    .portada:hover {
        transform: scale(1, 1); 
        opacity: 1;
    }

    .barraOpcionesTop{
        width: 100%;
        max-width: 100%;
        display: inline-block;
    }
    
    .barraOpcionesBottom{
        width: 100%;
        display: inline-block;
    }

    ul.catalogo{padding-left: 0.5em;}

    ul.catalogo li{
        width: 47%;
        height: auto;
        margin-top: 0em;
        margin-left: 0em;
        margin-bottom: 0.3em;
        vertical-align: top;
    }

    .catalogo img{
        width: 95%;
        max-width: 200px;
        height: auto;
        min-height: 240px;
        margin-top: 0.3em;
        z-index: 1;
        overflow: auto;
    }

    .barraOpciones{
        display: inline-block;
        margin: 0 auto;
        padding-top: 3em;
        margin-left: 0.7em;
    }

    nav{margin-left: 0.5em;}

    .textoLI{
        font-size: 1.2em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }

    .filtroTexto{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .filtroTexto input{
        width: 100%;
        position: relative;
        overflow: hidden;
        text-align: center;
    }

    .botonOrdenar{
        display: inline-block;
        align-items: left;
        justify-content: left;
    }

    .dropdown{
        display: inline-flex;
        float: right;
    }

    #slider{display: none;}

    .encabezado h1{
        margin-left: 1.75em;
        padding-top: 1.5em;
    }

    /*Juego*/

    .contenedorJuego{
        padding: 1em;
        max-width: fit-content;
        width: 100%;
        height: 100%;
        font-family: 'Muli', sans-serif;
        align-content: center;
        margin: 0 auto;
    }
    
    .tituloJuego{
        width: 100%;
        margin-bottom: 1em;
        padding-top: 1em;
        padding-left: 0.5em;
    }
    
    .video{
        padding: 1em;
        max-width: 560px;
        overflow: hidden;
        clear: none;
        border: 2px solid #116888;
        border-radius: 10px;
        margin-right: 0.5em;
    }
    
    .informacion{
        padding-right: 0.5em;
        max-width: 360px;
        border: 2px solid #116888;
        border-radius: 10px;
    }
    
    .imagenJuegoPortada{
        display: block;
        max-width: 320px;
        border: 2px solid #116888;
        border-radius: 10px;
    }
    
    .imagenJuegoPortada img{
        width: 100%;
        max-width: 220px;
        border-radius: 10px;
    }
    
    .caracteristicas{
        display: block;
        width: 100%;
        margin-left: 0.2em;
        padding-left: 0.2em;
        border: 2px solid #116888;
        border-radius: 10px;
    }
    
    .descripcion{
        padding: 0.5em;
        max-width: 100%;
        border: 2px solid #116888;
        border-radius: 10px;
        margin-top: 0.5em;
    }
    
    .caracteristicas dl dt{
        display: inline-block;
        margin: 0.5em;
        color: #c7f1ff;
        font-weight: 600;
    }
    
    .caracteristicas dl dd{
        display: inline-block;
    }
    
    .requerimientos{
        padding: 1em;
        border: 2px solid #116888;
        border-radius: 10px;
        margin-top: 0.5em;
    }
    
    .requerimientos h4{
        margin: 0.4em;
        color: rgb(16, 96, 150);
    }
    
    .requerimientos dt{
        color: #8fe1ff;
        font-weight: 600;
        padding: 0.2em;
    }
    
    .requerimientos dd{
        
    }
    
    .reviews{
        padding: 1em;
        border: 2px solid #116888;
        border-radius: 10px;
        margin-top: 0.5em;
    }
    
    .reviews blockquote{
        margin-bottom: 1em;
        text-indent: 5px;
    }
    
    .content-all{
        display: none;
    }
    .content-img{
        padding-top: 0.5em;
    }

    iframe{
        width: 360px;
        height: 210px;
    }
}

@media screen and 
(max-width: 349px) and
(min-width: 150px){

    .portada:hover {
        transform: scale(1, 1); 
        opacity: 1;
    }

    ul.catalogo{padding-left: 0.2em;}

    ul.catalogo li{
        width: 47.3%;
        height: 19em;
        margin-top: 0em;
        margin-left: 0em;
        margin-bottom: 0.3em;
        vertical-align: top;
    }

    .catalogo img{
        width: 95%;
        max-width: 200px;
        height: auto;
        min-height: 240px;
        margin-top: 10px;
        z-index: 1;
        overflow: auto;
    }

    .barraOpcionesTop{
        width: 100%;
        max-width: 100%;
        display: inline-block;
    }
    
    .barraOpcionesBottom{
        width: 100%;
        display: inline-block;
    }
    
    .barraOpciones{
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        padding-top: 3em;
        margin-left: 0.5em;
    }

    nav{margin-left: 0.5em;}

    .textoLI{
        font-size: 1.2em;
        padding-top: 0.2em;
    }

    .filtroTexto{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #slider{display: none;}

    .encabezado h1{
        margin-left: 1.75em;
        padding-top: 1.5em;
    }

    /*Juego*/

    .contenedorJuego{
        padding: 1em;
        max-width: fit-content;
        width: 100%;
        height: 100%;
        font-family: 'Muli', sans-serif;
        align-content: center;
        margin: 0 auto;
    }
    
    .tituloJuego{
        width: 100%;
        margin-bottom: 1em;
        padding-top: 1em;
        padding-left: 0.5em;
    }
    
    .video{
        padding: 1em;
        max-width: 560px;
        overflow: hidden;
        clear: none;
        border: 2px solid #116888;
        border-radius: 10px;
        margin-right: 0.5em;
    }
    
    .informacion{
        padding-right: 0.5em;
        max-width: 360px;
        border: 2px solid #116888;
        border-radius: 10px;
    }
    
    .imagenJuegoPortada{
        display: block;
        max-width: 320px;
        border: 2px solid #116888;
        border-radius: 10px;
    }
    
    .imagenJuegoPortada img{
        width: 100%;
        max-width: 220px;
        border-radius: 10px;
    }
    
    .caracteristicas{
        display: block;
        width: 100%;
        margin-left: 0.2em;
        padding-left: 0.2em;
        border: 2px solid #116888;
        border-radius: 10px;
    }
    
    .descripcion{
        padding: 0.5em;
        max-width: 100%;
        border: 2px solid #116888;
        border-radius: 10px;
        margin-top: 0.5em;
    }

    .descripcion dl dd p{
        column-count: 2;
        column-width: 200px;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        -webkit-column-width: 200px;
    }
    
    .caracteristicas dl dt{
        display: inline-block;
        margin: 0.5em;
        color: #c7f1ff;
        font-weight: 600;
    }
    
    .caracteristicas dl dd{
        display: inline-block;
    }
    
    .requerimientos{
        padding: 1em;
        border: 2px solid #116888;
        border-radius: 10px;
        margin-top: 0.5em;
    }
    
    .requerimientos h4{
        margin: 0.4em;
        color: rgb(16, 96, 150);
    }
    
    .requerimientos dt{
        color: #8fe1ff;
        font-weight: 600;
        padding: 0.2em;
    }
    
    .requerimientos dd{
        
    }
    
    .reviews{
        padding: 1em;
        border: 2px solid #116888;
        border-radius: 10px;
        margin-top: 0.5em;
    }
    
    .reviews blockquote{
        margin-bottom: 1em;
        text-indent: 5px;
    }
    
    .content-all{
        display: none;
    }
    .content-img{
        padding-top: 0.5em;
    }

    iframe{
        width: 320px;
        height: 180px;
    }
}

/*------------------------------------------------------------------------------------------------------------*/